@font-face {
  font-family: Inter;
  src: url(Inter.ttf);
}

:root {
  --text-color: #000;
  --background-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  font-family: Inter;
  background: var(--background-color);
}

.page-title-container {
  margin: 5px;
}
